[Unit]
Description=Radeon power settings
After=localfs.target syslog.target

[Service]
Type=oneshot
ExecStart=/usr/bin/radeonhd-power low
ExecStop=/usr/bin/radeonhd-power
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
