[Unit]
Description=Power saving settings for the radeon X.org video driver
Documentation=http://github.com/pwnall/radeonhd-power
After=localfs.target syslog.target

[Service]
Type=oneshot
ExecStart=/usr/bin/radeonhd-power low
ExecStop=/usr/bin/radeonhd-power
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
